@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400&display=swap');
@import "variables";

@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

* {
  font-family: K2D, sans-serif;
}

.bg-gray {
  background: $gray;
}

.intro {
  background-image: url("../img/intro.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  height: 100vh;
}

.display-1 {
  font-size: 10rem;
}

.mb-10 {
  margin-bottom: 7rem;
}

#sobre {
  .row {
    height: 50vh;
  }
}

.text-blue {
  color: $blue;
}