@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;400&display=swap');
@import "variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  font-family: K2D, sans-serif;
}

.bg-gray {
  background: $gray;
}

.intro {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

section {
  min-height: 100vh;
  padding-top: 90px;
}

#servicos, #depoimentos {
  min-height: 50vh !important;
  background: $dark-green;
  padding-top: 10px;
}

.depoimento {
  padding-left: 150px;
  padding-right: 150px;
}

#galeria {
  background: $dark-gray;
}

.w-400 {
  font-weight: 400;
}

#map {
  height: 50vh;
}

.text-blue {
  color: $blue;
}

.hover-effect figure {
  background: black;
}

.hover-effect figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: inline-block;
}

.hover-effect {
  max-width: 435px;
  height: 275px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.hover-effect figure:hover img {
  opacity: .5;
  padding: 0;
  transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -moz-transform: scale(1.5); /* Firefox */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.portfolio-menu {
  text-align: center;
}

.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all .5s ease;
}

.d-hide {
  animation: hide 1s linear;
  opacity: 0;
  max-height: 0;
}

.d-show {
  animation: show 1s linear;
  opacity: 0;
  max-height: 0;
}

@keyframes hide {
  from {
    opacity: 1;
    max-height: 275px;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 275px;

  }
}