@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;400&display=swap');
@import "variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  font-family: K2D, sans-serif;
}

.bg-gray {
  background: $gray;
}

.intro {
  background-image: url("../images/intro.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  height: 100vh;
}

.w-400 {
  font-size: 10rem;
}

.text-blue {
  color: $blue;
}